/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(https://fonts.gstatic.com/s/benchnine/v7/ahcev8612zF4jxrwMosT6-xhgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: linear-gradient(left, #BFE6FC, white, #BFE6FC);
  background: linear-gradient(to right, #BFE6FC, white, #BFE6FC);
}
.container {
  padding: 30px 30px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.word {
  display: block;
  text-align: justify;
  font-family: "BenchNine";
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.word1,
.word2 {
  color: palevioletred;
}
.word3,
.word4 {
  color: #4E8AB4;
}
.word5,
.word6 {
  color: black;
}
.word7 {
  color: #6B7B8A;
}
.word8,
.word9 {
  color: #8B8091;
}
.word10,
.word11 {
  color: #B68FA2;
}
.word12,
.word13 {
  color: #F7C711;
}
.word1 {
  font-size: 6.3em;
}
.word2 {
  font-size: 7.1em;
}
.word3 {
  font-size: 4.8em;
}
.word5 {
  font-size: 4.8em;
}
.word7 {
  font-size: 4.5em;
}
.word8 {
  font-size: 4.8em;
}
.word12 {
  font-size: 6.2em;
}
.contact p {
  margin: 15px;
  padding-bottom: 20px;
}
.info {
  font-size: 1.2em;
  font-weight: bold;
}
.container .main-content {
  margin: 80px;
}
.clicky {
  /** Offset the Position **/
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 10px;
  /** 3D Block Effect **/
  box-shadow: 0 10px 0 0 #6B2A4A;
  /** Make it look pretty **/
  display: block;
  background: #a47;
  color: #eee;
  padding: 1em 2em;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.9;
  border-radius: 10px;
}
.clicky:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}
.clicky:hover {
  opacity: 1;
}
.clicky:active,
.clicky:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
}
.clicky {
  width: 100px;
  height: 40px;
  animation: myfirst 5s;
  animation: myfirst 5s infinite;
  padding-bottom: 20px;
  border-radius: 20px;
}
@keyframes myfirst {
  /* Firefox */
  0% {
    background: palevioletred;
  }
  50% {
    background: #4E8AB4;
  }
  100% {
    background: palevioletred;
  }
}
@keyframes myfirst {
  /* Safari and Chrome */
  0% {
    background: palevioletred;
  }
  50% {
    background: #4E8AB4;
  }
  100% {
    background: palevioletred;
  }
}
.container {
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
p:hover {
  transform: scale(1.1);
}
